/* line 6, ../sass/sticky.scss */
body {
  background-color: #DDD;
  background-image: url("../images/repeatable-linen.png");
  font-family: 'Droid-Sans', sans-serif;
  font-size: 14px;
}

/* line 14, ../sass/sticky.scss */
.headerbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: #000;
  margin: 0;
  z-index: 10;
  color: #FFF;
  padding: 5px;
}
/* line 26, ../sass/sticky.scss */
.headerbar .logo {
  font-family: 'Lily Script One', serif;
  font-size: 24px;
  float: left;
  padding: 5px;
}
/* line 33, ../sass/sticky.scss */
.headerbar .navigation {
  float: right;
}

/* line 39, ../sass/sticky.scss */
#searchbox {
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -210px;
  width: 420px;
}

/* line 50, ../sass/sticky.scss */
#scroller {
  padding: 5px;
  margin: 0px;
  z-index: 50;
}

/* line 58, ../sass/sticky.scss */
#searchform {
  z-index: 120;
}

/* line 63, ../sass/sticky.scss */
.inspirations {
  position: absolute;
  top: 90%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* line 71, ../sass/sticky.scss */
.inspirations .buffer {
  buffer: 20px;
}
/* line 76, ../sass/sticky.scss */
.inspirations .card {
  float: left;
  height: 300px;
  width: 250px;
  margin: 10px;
  background: #FFF;
  border: solid 1px #000;
  margin-left: auto;
  margin-right: auto;
}
